#page-box
  header.main-header.clr
    .main-logo
      img(src="/assets/images/main_logo.png")
    .left-menu-toggle
      i.icon-menu
    ul.main-nav
      li
        a.nav-item.active(href="#") Segments
      li
        a.nav-item(href="#") Vehicles
      li
        a.nav-item(href="#") Admin
      li
        a.nav-item(href="#") Settings
  router-outlet
