#page-box
  header.main-header.clr
    .main-logo
      img(src="/assets/images/main_logo.png")
    .left-menu-toggle
      i.icon-menu
    ul.main-nav
      li
        a.nav-item.active(href="list") Segments
      li
        a.nav-item(href="vehicle") Vehicles
      li
        a.nav-item(href="#") Admin
      li
        a.nav-item(href="#") Log In
  router-outlet
