#login-box {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	z-index: 1;
	padding: 20px;
	box-sizing: border-box;
	background: url('../assets/images/login-bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
		margin-right: -0.05em;
	}
}

.login-head {
	background: $blue-whale;
	padding: 1rem;
}

.login-form {
	padding: 1rem;
}

.login-btn {
	width: 100%;
	background: $icon-green;
	color: #FFF;
	font-size: 1rem;
	padding: .7rem;
	border-radius: 1.1rem;

	&:hover{
		background:#4faf50;
		color: $base-grey;
	}
}

.login-view {
	font-size: .9rem;
	text-align: left;
	color: #FFF;
	overflow: hidden;
	border-radius: .5rem;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
  max-width: 400px;
  box-sizing: border-box;
  width: 95%;
  background: rgba(255,255,255,.33);

	.error-msg-output {
		background:rgba(255, 70, 90,.6);
		padding: .4rem;
		border-radius: .4rem;
		opacity: 0;
		margin-bottom: .5rem;
		transition: opacity 200ms linear;

		i {
			position: relative;
			top: 1px;
			padding-right: 4px;
		}

		&.active {
			opacity: 1;
		}
	}
}

.login-head {
	text-align: center;
}

.login-footer {
	text-align: center;
	padding-bottom: .6rem;
}

.login-logo {
	position: relative;
	display: inline-block;
	padding-left: .5rem;
	top: .6rem;
}
